@font-face {
    font-family:"EagerNaturalist";
    src:    url("../fonts/EagerNaturalist/EagerNaturalist.eot?")                format("eot"),
            url("../fonts/EagerNaturalist/EagerNaturalist.woff")                format("woff"),
            url("../fonts/EagerNaturalist/EagerNaturalist.ttf")                 format("truetype"),
            url("../fonts/EagerNaturalist/EagerNaturalist.svg#EagerNaturalist")    format("svg");
    font-weight:normal;
    font-style:normal;
}
